body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/*---------------HEADER SECTION------------------*/

header {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  width: 100%;
  padding-left: 60px;
  margin-bottom: 0px;
}

header img {
  width: 25px;
  padding: 30px;
}

.header-line {
  margin-top: 0px;
  width: 2000px;
  border: none;
  height: 0.3px;
  background-color: lightgray;
  filter: blur(0.8px);
  margin-bottom: 0px;
}

.nav-container {
  display: grid;
  justify-items: center;
  text-wrap: nowrap;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 20px;
  font-size: 20px;
  color: hsl(220, 7%, 55%);
}

nav li:first-child {
  font-weight: 500;
  font-size: 20px;
  color: hsl(222, 6%, 31%);
}

nav li:hover {
  color: hsl(15, 87%, 67%);
  cursor: pointer;
}
/*----------------------------------MAIN SECTION--------------------------------*/

/*-----------------SECTION 1------------------*/

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.section_1 {
  width: 50%;
  display: grid;
  color: hsl(0, 0%, 40%);
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 0px;
}

.section_1 h1 {
  text-wrap: wrap;
  font-size: 45px;
  font-weight: 450;
  color: hsl(15, 69%, 58%);
  margin-bottom: 70px;
  margin-top: 100px;
  text-align: left;
}

input {
  width: 250px;
  height: 50px;
  border: 2px solid hsl(0, 0%, 40%);
  border-radius: 6px;
  margin-bottom: 27px;
}

.Names {
  display: flex;
  column-gap: 15px;
}

.Addresses {
  display: flex;
  flex-direction: column;
}

#address {
  width: 525px;
}

.City-Postcode {
  display: flex;
  column-gap: 10px;
}

#city {
  width: 250px;
  height: 55px;
  border: 2px solid hsl(0, 0%, 40%);
  border-radius: 6px;
}

#postcode {
  width: 265px;
}

#grey {
  width: 15px;
  position: relative;
  top: 17px;
  accent-color: orange;
}

#orange {
  width: 15px;
  border: 1px solid;
  position: relative;
  top: 17px;
  accent-color: orange;
}

.checkbox {
  margin-bottom: 0px;
  margin-top: 0px;
}

.checkbox h5 {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 500;
}

#check-mark {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 2px;
}

#term-conditions {
  width: 20px;
}

button {
  margin: 20px;
  background-color: hsl(15, 73%, 55%);
  color: white;
  width: 250px;
  height: 65px;
  border-radius: 6px;
  border: 1px solid hsl(15, 73%, 55%);
  font-size: 23px;
  margin-top: 50px;
}

/*-------------------------SECTION 2----------------------*/
.section_2 {
  width: 50%;
}
.section_2 img {
  height: 1050px;
  width: 1000px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*-------------------------FOOTER----------------------*/

hr {
  margin-top: 0px;
  width: 1500px;
  border: none;
  height: 0.5px;
  background-color: lightgray;
  filter: blur(0.8px);
}

.social_platform img {
  width: 20px;
  border-radius: 50%;
  padding: 10px;
  border: 0.3px solid lightgray;
}

footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

footer h4 {
  font-size: 18px;
  font-weight: 500;
}

footer p {
  font-weight: 100;
  font-size: 18px;
  margin-top: 3px;
  color: grey;
}

.author {
  margin-bottom: 20px;
}
